.host-home-page .ant-tabs-tab {
  color: rgb(137, 0, 255) !important;
  font-size: medium;
  opacity: 0.8;
}

.host-home-page .ant-tabs-tab-active {
  color: rgb(137, 0, 255) !important;
}

.host-home-page .ant-tabs-ink-bar {
  background-color: rgb(87, 6, 140) !important;
}

.host-home-page .ant-tabs-nav .ant-tabs-tab:hover {
  color: rgb(87, 6, 140) !important;
}

.host-home-page .ant-tabs-nav .ant-tabs-tab-active:hover {
  color: rgb(87, 6, 140) !important;
}

.host-home-page .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(87, 6, 140) !important;
}
