.form-item-label {
  color: rgb(137, 0, 255) !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 550 !important;
}

.submit-button {
  background-color: rgb(137, 0, 255) !important;
  border-color: rgb(137, 0, 255) !important;
  color: #fff !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  border-radius: 0.2vw !important;
}

.guest-home-page .ant-tabs-tab {
  color: rgb(137, 0, 255);
  font-size: medium;
}

.guest-home-page .ant-tabs-tab-active {
  color: rgb(87, 6, 140) !important;
}

.guest-home-page .ant-tabs-ink-bar {
  background-color: rgb(87, 6, 140) !important;
}

.guest-home-page .ant-tabs-nav .ant-tabs-tab:hover {
  color: rgb(87, 6, 140) !important;
}

.guest-home-page .ant-tabs-nav .ant-tabs-tab-active:hover {
  color: rgb(87, 6, 140) !important;
}

.guest-home-page .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(87, 6, 140) !important;
}
